HELP.md
target/
!.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
build/
!**/src/main/**/build/
!**/src/test/**/build/

### VS Code ###
.vscode/
/src/main/java/com/example/stream/Controller/DepartmentController.java
/src/main/java/com/example/stream/Controller/EmployeeController.java
/src/main/java/com/example/stream/Exeption/EmployeeAlreadyAddedException.java
/src/main/java/com/example/stream/Exeption/EmployeeStorageIsFullException.java
/src/main/java/com/example/stream/Exeption/EmployeeNotFoundException.java
/src/main/java/com/example/stream/model/Employee.java
/src/main/java/com/example/stream/Servise/DepartmentService.java
/src/main/java/com/example/stream/Servise/EmployeeService.java
/src/main/java/com/example/stream/StreamApplication.java
